{% extends 'layout.html' %}
{% block title %} Añadir palabras {% endblock %}
{% block content %}
<br>
<h2 class="text-center">AÑADIR ARCHIVO</h2>
<br>

<div class="container">
    <div class="m-0 row justify-content-center">
        <div class="col-auto bg-light p-5 text-center">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        {% for message in messages%}
            <p><b>{{message}}</b></p>
        {% endfor %}
        {% endif %}
        {% endwith %}


            <form action="/upload/{{id}}" method="POST" enctype="multipart/form-data">
                
                <input type="file" id="audio" name="{{id}}" >
                <br>
                <br>
                <input type="submit" value="Enviar">
            </form>
        </div>
    </div>
</div>  
    
{% endblock %}
